@model Kooboo.CMS.Sites.Models.PagePermission
<fieldset>
    <table>
        <tbody>
            @Html.EditorFor(m => m.RequireAuthentication)
            @Html.EditorFor(m => m.AllowRoles, new { HtmlAttributes = new { @class = "medium" } })
            @Html.EditorFor(m => m.UnauthorizedUrl, new { HtmlAttributes = new { @class = "medium" } })
        </tbody>
    </table>
</fieldset>
<script>
    $(function () {
    	var $requireAuth = $('#Permission_RequireAuthentication');
    	var $allowRoles = $requireAuth.parent().parent().next();
    	$requireAuth.change(function () {
    		if ($requireAuth.is(":checked")) {
    			$allowRoles.show();
            }
            else {
    			$allowRoles.hide();
            }
        });
    	$requireAuth.trigger('change');
    });
</script>
