<?xml version="1.0"?>
<menu>
  <items>
    <add name="KoobooSecurity" text="Kooboo Security" action="Index" controller="Setting">
      <items>
        <!--<add name="Setting" text="Setting" action="Index" controller="Setting"></add>-->
        <add name="Users" text="Users" action="Index" controller="Users"></add>
        <add name="Roles" text="Roles" action="Index" controller="Roles"></add>
      </items>
    </add>
    <!--<add name="IdentityServer" text="Identity Server" action="Index" controller="Roles">
      <items>
        <add name="GeneralConfiguration" text="General Configuration" action="Index" controller="Roles"></add>
        <add name="KeyConfiguration" text="Key Configuration" action="Index" controller="Roles"></add>
        <add name="Protocols" text="Protocols" action="Index" controller="Roles"></add>
        <add name="Diagnostics" text="Diagnostics" action="Index" controller="Roles"></add>
        <add name="Relying Parties And Resources" text="Relying Parties And Resources" action="Index" controller="Roles"></add>
        <add name="Identity Providers" text="Identity Providers" action="Index" controller="Roles"></add>
        <add name="OAuth Clients" text="OAuth Clients" action="Index" controller="Roles"></add>
        <add name="Roles" text="Roles" action="Index" controller="Roles"></add>
        <add name="Users" text="Users" action="Index" controller="Roles"></add>
        <add name="Identity Delegation" text="Identity Delegation" action="Index" controller="Roles"></add>
      </items>
    </add>-->
  </items>
</menu>
